body 
	background-color $bodyBg
	font-size $fontSize

header
	width 100%
	
.siteBody
	box-sizing: border-box
	padding $miniSpacer
	margin 0 auto
	width 100%


@media only screen and (min-width: $screen-md ) 
	.siteBody
		max-width $screen-lg
		
		