body
  background-color $bodyBg
  font-size $fontSize
  color $colorText
  font-family $font
  -webkit-font-smoothing antialiased

a
  color $colorLink
  text-decoration none
  &:hover
    color lighten($colorLink, 30%)



header
  width 100%

.siteBody
  box-sizing: border-box
  padding $miniSpacer
  margin 0 auto
  width 100%




