//rating
.rating
  margin-left -2px
  .grade 
    span
      &:not([class])
        hide()
  
  .comments
    display inline-block
    vertical-align middle
    margin-left 2px
    
  a
    color $blue1
    text-decoration none
    
.grade
  background url("../medias/icons/star_grey.png")
  display inline-block
  height 15px
  vertical-align top
  width 96px

.stars
  background url("../medias/icons/star_yellow.png")
  display inline-block
  height 15px
  width 80%