//rating
.rating
  .grade
    margin-top 2px 
    margin-right ($spacerBase/3)
    span
      &:not([class])
        hide()
  
  .comments
    display inline-block
    vertical-align middle
    margin-left 2px
    
  a
    
    text-decoration none
    
.grade
  background url("../medias/icons/star_grey.svg")
  display inline-block
  height 16px
  vertical-align top
  width 96px

.stars
  background url("../medias/icons/star_yellow.svg")
  display inline-block
  height 16px
  width 80%