.prdDetails
  .tabsPrdDetail
    display flex
  .prdTitle
    flex-direction column
  .imgProduct
    square(200px)
@media only screen and (min-width: $screen-xs)
  .prdDetails
    .prdTitle
      flex-direction row
    .imgProduct
      square(100px)
