.productPage-main
  .listing
    .listing-header
      .label
        flex-grow 1

  .advertItem
    padding $miniSpacer 0
    color $colorText
    border-top 1px solid $colorSeparator
    p
      margin-bottom 0

    .shippingAmount
      color lighten($colorText, 50%)


