.buybox
	.imgProduct
		square(100%)
	.productCard
		flex-wrap wrap
	.seller
		flex-grow 1
		


@media only screen and (min-width: $screen-md) 

	.buybox
		.imgProduct
			square(50%)
		.productCard
			flex-wrap nowrap
		