.btn-primary
	background-color $colorPrimary
	color $white
	&:hover
		color $white
		background-color lighten($colorPrimary, 30%)

.imgBtn-header
	&.login
		.icon
			&:before
				background-position 0 0
				background-image url('../medias/icons/user.svg')
			
	&.cart
		.icon
			&:before
				background-position 0 0
				background-image url('../medias/icons/cart.svg')
	

@media only screen and (min-width: $screen-md) 
	.imgBtn-header
		&.login
			.icon
				&:before
					background-position 0 0px
				
		&.cart
			.icon
				&:before
					background-position 0 0px	