a.btn
	border-width 1px
	padding $miniSpacer
	border-radius $radius
	font-weight 700
	

.imgBtn 
	square(50px)
	position relative
	.icon
		&:before
			content ''			
			background-repeat no-repeat			
			display inline-block
			square(30px)
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			transition(opacity)
			
		&:hover
			&:before
				opacity 0.8
				transition(opacity)

@media only screen and (min-width: $screen-md) 
	
	.imgBtn 
		.icon
			&:before
				//background-image url('../medias/icons/misc_50.png')
				square(30px)
