 //Variables

//Devices Width

$screen-xs						= 480px
$screen-md						= 768px
$screen-lg						= 1024px
$screen-xl						= 1400px

//Spacers
$spacerBase           = 20px
$miniSpacer           = $spacerBase / 2
$radius               = 3px


//Colors
$white							 = #ffffff 
$bodyBg              = #eaeef1
$gray              	 = #dbe0e3
$colorText           = #676c7a
$colorLink           = #0099ff
$colorPrimary        = #ff9900
$colorPrimaryHover	 = colorHover($colorPrimary)
$colorSeparator      = #eaeef1
$colorBackground     = #eaeef1

$containerShadow     = 0px 1px 2px 0px rgba(0, 0, 0, 0.15)


//Fonts   
$font                  = "Source sans pro", Roboto, Helvetica, Arial
$fontSize              = 16px

$baseLineHeight 			 = 18px

		


