/******* Chouchenn (mixins library) ********/
@import 'chouchenn/lib/chouchenn/index.styl'

//Mixins
colorHover(color)
  lighten(color, 15%)
  
/** Positionnement **/
positionLeft(pos, top, left)
  position pos
  top top
  left left
  
positionRight(pos, top, right)
  position pos
  top top
  right right
  
square(size)
	height size
	width size

transition(prop)
	transition prop 200ms ease-out
 
