/******* Settings ********/
@import "_settings.variables"

/******* Tools ********/
@import "_tools.mixins"

/******* Generic ********/
@import "_generic.normalize"

/******* Base ********/
@import "_base.body"
@import "_base.text"
@import "_base.forms"
// @import "_base.button"
// @import "_base.list"

/******* Objects ********/
@import "_objects.containers"
@import "_objects.buttons"
@import "_objects.media"

/******* Components ********/
@import "_components.buttons"
@import "_components.searchBar"
@import "_components.header"
@import "_components.reviews"
@import "_components.prdPageMain"
@import "_components.prdDetails"
@import "_components.buybox"
@import "_components.listing"
@import "_components.searchPage"

/******* AB Test ********/

/******* Trumps ********/
@import "_trumps.helpers"



/******* TMP Modal ********/
.modal-backdrop
  display none
  top 0
  left 0
  width 100%
  height 100%
  position fixed
  opacity 0
  background-color rgba(255, 255, 255, 0.7)

  &.show
    display block
    opacity 1

  .modal
    top 0
    left 0
    width 920px
    max-height 500px
    position fixed
    background-color white

.reviewsItem
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex

  .customerProfile
    flex 1
  .customerMessage
    flex 2

